:root {

    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px;
  }

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*typography*/

::selection {
    background: var(--color-primary);
    color: #fff;
  }
  
  html {
    font-size: 62.5%;
  }
  
  img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--color-body);
  }
  
  h1,
  h2,
  h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4rem;
  }
  
  h3 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.3;
  }
  
  p {
    margin-top: 0;
  }
  
  @media screen and (min-width: 1024px) {
    body {
      font-size: 1.8rem;
    }
  
    h1 {
      font-size: 8rem;
    }
  
    h2 {
      font-size: 4rem;
    }
  
    h3 {
      font-size: 2.4rem;
    }
  }
  
  /* Links if added in the future*/
  a {
    text-decoration: none;
  }


/*layout for app container*/

.card {
    border-radius: 15px;
    align-items: center;
    box-shadow: 0 0 20px 10px #f3f3f3;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 2rem;
    overflow: hidden;
    padding: 5rem;
}

    /*button */

.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    outline: 0;
    padding: 2rem 4vw;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn__container {
    align-self: center;
    margin-top: 3rem;
}

.btn--primary {
    background: var(--color-primary);
    color: #fff;
}

.btn--primary:hover {
background: #3a8ffd;
}

.card__heading {
    margin-bottom: 5rem;
}

.form {
    display: flex;
    flex-direction:column;
    margin-bottom: 5rem;
}

.form__container {
   width: 40vw;
}

.tip__div {
    align-self: center;
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

