:root {

    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px;
  }

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*typography*/

::selection {
    background: var(--color-primary);
    color: #fff;
  }
  
  html {
    font-size: 62.5%;
  }
  
  /* img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  } */
  
  body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--color-body);
  }
  
  h1,
  h2,
  h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
  }
  
  h1 {
    font-size: 6rem;
    text-shadow: 2px 2px 20px #fff;
  }
  
  h2 {
    font-size: 4rem;
  }
  
  h3 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.3;
  }
  
  p {
    margin-top: 0;
  }
  
  @media screen and (min-width: 1024px) {
    body {
      font-size: 1.8rem;
    }
  
    h1 {
      font-size: 8rem;
     }
  
    h2 {
      font-size: 4rem;
    }
  
    h3 {
      font-size: 2.4rem;
    }
  }
  
  /* Links if added in the future*/
  a {
    text-decoration: none;
  }

label {
    color: var(--color-primary);
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 5px var(--color-headings);
}
/*layout for app container*/

.card {
    background-image: url('./images/tipBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover; 
    border-radius: 15px;
    align-items: center;
    box-shadow: 0 0 20px 10px #f3f3f3;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 2rem;
    overflow: hidden;
    padding: 5rem;
  
}

    /*button */

.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    width: 12rem;
    outline: 0;
    padding: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: .1rem;
}

.btn__container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.btn--primary {
    background-color: var(--color-primary);
    color: #fff;
}

.btn--primary:hover {
    background-color: var(--color-secondary);
    transition: background-color 0.5s ease-in;
}

.btn--secondary {
    background-color: var(--color-accent);
    color: #fff;
}

.btn--secondary:hover {
    opacity: 0.8;
    transition: opacity 0.5s ease-in;
}

/*Spacing, layout, aesthetics*/

.card__heading {
    margin-bottom: 5rem;
}

.form {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-bottom: 5rem;
}

.form__container {
   width: 40vw;
}

.input {
    border: #1b0760;
    border-radius: 10px;
    height: 3rem;
    width: 33vw;
    margin-bottom: 2rem;
    text-indent: 1rem;
}

@media screen and (min-width:1024px) {
    .input {
        width:25vw;
    }
}

.tip__div {
    align-self: center;
    color: var(--color-primary);
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

